.font-h1{
    font-size: $h1-font-size;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
}

.font-h2{
    font-size: $h2-font-size;
    font-weight:$font-weight-semibold ;
    line-height: 1.2;
}

.font-h3{
    font-size: $h3-font-size;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
}

.font-h4{
    font-size: $h4-font-size;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
}

.font-h5{
    font-size: $h5-font-size;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
}

.font-h6{
    font-size: $h6-font-size;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
}

.font-title{
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
}

.font-subtitle{
    font-size: $font-size-md;
    font-weight: $font-weight-semibold;
}

.font-body{
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
}

.font-body2{
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
}

.font-tiny{
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
}