<div class="container mt-8 mb-4">
    <nav class="navbar navbar-expand-lg bg-body-white rounded-pill navbar-shadows py-4 px-8 navbar-z-index" >
        <div class="container-fluid justify-content-between align-items-center">
        
            <div class="row justify-content-between w-100">
                <div class="col-8">
                    <div class="d-flex align-items-center">

                    <!-- Logo -->
                    <a class="navbar-brand" href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/logo.png" alt="Logo" style="width:200px;height: auto;"></a>
                  
                    <div class="d-flex align-items-center">
                        <!-- 探索 -->
                  <div class="dropdown d-lg-block d-none custom-dropdown-position">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      探索
                    </button>
                    <div class="dropdown-menu">
                      你好
                    </div>
                  </div>
        
                  <!-- 搜尋 -->
                  <form class="d-lg-flex d-none " role="search">
                    <input class="form-control me-2" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
                    <button class="btn btn-primary-100" type="submit">搜尋</button>
                  </form>
                    </div>
        
                  </div></div>
                <div class="col-4 d-flex justify-content-end">
                      <button class="btn btn-white">
                          <span class="material-symbols-outlined">notifications</span>
                        </button>
                        <button class="btn btn-white">
                          <span class="material-symbols-outlined">shopping_cart</span>
                        </button>
                        <button class="btn btn-primary-100">
                          登入 / 註冊
                        </button>
                
                </div>
            </div>

          

          

          
          <!-- 漢堡選單按鈕 -->
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->

          <!-- 漢堡選單內容 -->
          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  d-lg-none d-block">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div> -->


        </div>
      </nav>
</div>